@font-face {
    font-family: rale;
    src: url(../../fonts/Raleway-Regular.ttf);
}

.p-home {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 6em 0;
    margin-top: 0em;
    overflow-x: hidden !important;
}

.page-top {
    display: flex;
    flex: row;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 157px;
}

.page-top-text-side {
    display: flex;
    flex-direction: column;
}

.text-1 {
    color: #777A8D;
    font-family: rale;
    font-style: normal;
    font-weight: 600;
    font-size: 55.2583px;
    line-height: 65px;
    margin-bottom: 40px;
}

.text-1 span {
    color: #1B9365;
}

.get-app-link-input {
    display: flex;
    flex: row;
    margin-bottom: 40px;
}

.getapplink-button {
    margin: auto;
    margin-left: 20px;
    justify-content: center;
    width: 177.95px;
    height: 55.19px;
    font-family: rale;
    font-style: normal;
    font-weight: 700;
    font-size: 19.0322px;
    line-height: 23px;
    background: #1B9365;
    color: #FFFFFF;
    border-radius: 11.4193px;
}

.phone-number-input {
    width: 277.87px;
    height: 55.19px;
    background: #FFFFFF;
    border-radius: 11.4193px;
}

.text-2 {
    font-family: rale;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 40px;
}

.text-2 :nth-child(1) {
    color: #EC9F05;
}

.text-2 :nth-child(2) {
    color: #1B9365;
}

.text-2 :nth-child(3) {
    color: #8014E7;
}

.final-image {
    width: 726px;
    height: 500px;
    margin-left: 40px;
    justify-content: center;
}

.download-text {
    display: flex;
    flex: row;
}

.download-image {
    width: 232.26px;
    height: 72px;
}

.availablity-info {
    padding-left: 20px;
    width: 232px;
    height: 22px;
    margin: auto;
    justify-content: center;
    font-family: rale;
    font-style: normal;
    font-weight: 500;
    font-size: 18.1545px;
    line-height: 22px;
    align-items: flex-end;
    color: #5B5A6C;
}

.availablity-info a {
    text-decoration: underline;
    color: #1B9365;
}

.page-middle-1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex: row;
    margin-bottom: 80px;
}

.page-middle-items .bottom-font {
    margin-top: 20px;
    color: #B0AFB4;
}

.mid-font-1 {
    margin-top: 20px;
    color: #EC9F05;
    font-size: 20px;
    font-weight: bold;
}

.mid-font-2 {
    margin-top: 20px;
    color: #8014E7;
    font-size: 20px;
    font-weight: bold;
}

.mid-font-3 {
    margin-top: 20px;
    color: #1B9365;
    font-size: 20px;
    font-weight: bold;
}

.background-how-to-trade {
    width: 80vw;
    margin-left: 156px;
    background: #0E0F13;
    border-radius: 62px;
    margin-bottom: 40px;
}

.title-how-to-trade {
    padding-top: 50px;
    color: #FFFFFF;
    font-family: rale;
    font-size: 50px;
    text-align: center;
}

.thumb-img {
    width: 141px;
    height: 141px;
}

.app-image {
    width: 354px;
    height: 456px;
}

.why-us-title {
    margin-left: 157px;
    font-size: 48px;
    color: white;
    margin-bottom: 100px;
}

.trust-us-images {
    height: 100px;
    width: 100px;
}

.trust-items {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex: row;
    margin-bottom: 80px;
}

.howtotrade-container {
    display: flex;
    flex-direction: row
}

.colummn-1 {
    margin-left: 120px;
    display: flex;
    flex-direction: column;
}

.colummn-2 {
    margin-left: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.bold-text {
    width: 287px;
    height: 61px;
    font-family: rale;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.75);
}

.small-text {
    width: 287px;
    height: 76px;
    font-family: rale;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.75);
    opacity: 0.8;
}

.lines {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
}

.line-1 {
    margin-top: 40px;
    margin-left: 20px;
    width: 183px;
    height: 0px;
    border: 1px solid #46474A;
    background: #46474A;
    transform: rotate(90deg);
}



.page-middle-2 {
    margin-top: 40px;
}

.button-bar {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    align-items: center
}

.button-bar .project-button {
    user-select: none;
    margin-right: 1em;
    color: #f5f5f5;
    height: 50px;
    width: fit-content;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f5f5f5;
    border-radius: 15px;
    transition: .2s ease
}

.button-bar .project-button:hover {
    cursor: pointer;
    box-shadow: 0 3px #f5f5f5;
    transform: translateY(-3px);
    transition: .2s ease
}

.button-bar .project-button:active {
    transform: translatey(0);
    box-shadow: 0 0 #f5f5f5
}

.line-2 {
    width: 183px;
    height: 0px;
    margin-left: 20px;
    margin-top: 350px;
    background: #46474A;
    border: 1px solid #46474A;
    transform: rotate(90deg);
}

.line-3 {
    width: 183px;
    height: 0px;
    margin-left: 20px;
    margin-top: 350px;
    border: 1px solid #46474A;
    background: #46474A;
    transform: rotate(90deg);
}

.faq-section {
    margin-left: 157px;
    align-items: center;
    margin-right: 147px;
}

@media only screen and (max-width: 1250px) {
    .page-top {
        flex-direction: column;
        margin-left: 20px;
    }

    .final-image {
        margin-top: 40px;
        width: 180px;
        height: 400px;
        margin-left: -60px;
    }

    .text-1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1250px) {
    .text-1 {
        margin-top: 0px;
        font-size: 40px;
        margin-bottom: 0px;
        font-size: 8vh;
    }

    .final-image {
        margin-top: 40px;
        width: 180px;
        height: 400px;
        margin-left: -60px;
    }
}

@media only screen and (max-width: 1080px) {
    .page-top {
        flex-direction: column;
        margin-left: 20px;
    }

    .final-image {
        margin-top: 40px;
        width: 320px;
        margin-left: 0px;
        justify-content: center;
        height: 320px;
    }

    .text-1 {
        font-size: 40px;
    }

    .availablity-info {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1250px) {
    .page-top-text-side{
        margin: auto;
        justify-content: center;
        margin-bottom: 20px;
    }
    .page-top-image-side{
        margin: auto;
        justify-content: center;
    }
    .final-image {
        margin-top: 40px;
        width: 700px;
        margin: auto;
       
        justify-content: center;
        height: 450px;
    }
}

@media only screen and (max-width: 990px) {
    .final-image {
        margin-top: 40px;
        width: 700px;
        height: 500px;
        margin-left: -30px;
    }
}

@media only screen and (max-width: 450px) {
    .page-top {
        flex-direction: column;
        margin-left: 20px;
        margin-top: 0px;
    }

    .text-1 {
        margin-top: 0px;
        font-size: 30px;
        margin-bottom: 0px;
    }

    .text-2 {
        margin-top: 0px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .phone-number-input {
        margin-left: 2px;
        width: 195px;
        height: 47px;
    }

    .button-bar {
        margin-left: 10px;
        font-size: 14px;
        text-decoration: none;
    }

    .getapplink-button {
        width: 125px;
        height: 47px;
        font-size: 15px;
    }

    .download-image {
        height: 52px;
        width: 180px;
    }

    .availablity-info {
        font-size: 15px;
    }

    .final-image {
        margin-top: 40px;
        width: 480px;
        height: 400px;
        margin-left: -60px;
    }

    .page-middle-1 {
        flex-direction: column;
    }

    .page-middle-items {
        margin-block: 20px;
    }

    .why-us-title {
        margin-top: 20px;
        margin-left: 90px;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .trust-items {
        flex-direction: column;
    }

    .faq-section {
        margin-left: 20px;
        margin-right: 20px;
    }
}