header {
    height: 150px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: .1s ease
}

header nav {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #1A192B;
}

header nav .nav-links {
    display: flex;
    align-items: center
}

header nav .nav-links .nav-link {
    color: #f5f5f5;
    margin-left: 1em;
    font-size: 20px;
    position: relative;
    padding: 1em
}

.nav-collapsed {
    height: 60px;
    background-color: #222;
    background: rgba(20, 20, 20, .5);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    transition: .2s ease
}

.nav-collapsed .nav-link {
    font-size: 18px !important
}

.app-logo {
    height: 40px;
    width: 10px;
}

.magnet {
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    transition: all .3s ease
}

.magnet-1 {
    cursor: pointer;
    user-select: none;
    visibility: hidden;
    display: none;
    -webkit-user-drag: none;
    transition: all .3s ease
}

.magnet span {
    display: inline-block;
    pointer-events: none;
    transition: transform .3s cubic-bezier(.3, 1, .7, 1)
}

.magnet .nav-logo {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important
}

.nav-logo {
    position: relative
}

.nav-logo img {
    width: 60px
}

.nav-logo .initials {
    font-family: rec;
    font-size: 30px;
    color: #f5f5f5
}


.overlay-menu {
    margin-top: 70px;
    width: 100%;
    height: 50vh;
    border-radius: 50%;
    position: fixed;
    top: -100%;
    background-color: #111;
    z-index: 50;
    transition: .5s ease;
    display: none;
    align-items: center;
    flex-direction: column
}

.overlay-menu .nav-link {

    color: #f5f5f5;
    margin-top: 40px;
    text-decoration: none;
    font-size: 45px;
    position: relative;
    top: -100px;
    margin-bottom: 1em;
    opacity: 0;
    white-space: nowrap;
    transition: top 1s ease
}
.active span p {
    position: relative
}

.active span p:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -2px
}

.nav-link .overlay-font{
    font-size:2rem;
}

.overlay-menu .nav-link:hover {
    opacity: .5
}

.blocked {
    overflow: hidden !important
}

.overlay-active {
    top: 0;
    border-radius: 0;
    height: 100vh;
    right: 0;
    transition: .5s ease
}

.overlay-active .nav-link {
    top: 0;
    opacity: 1;
    transition: 1s ease
}

.button-download {
    width: 141px;
    padding: 7px;
    background: #1B9365;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.button-download-mobile {
    width: 141px;
    padding: 7px;
    background: #1B9365;
    border-radius: 5px;
    margin: auto;
    justify-content: center;
}

.button-download span {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.button-download-mobile span {
    color: #fff;
    cursor: pointer;
    margin-left: 25px;
    font-weight: bold;
    text-align: center;
}

.nav-logo:hover {
    cursor: pointer
}

.active span p {
    position: relative
}

.active span p:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -2px
}

header nav .line {
    position: absolute;
    width: 1232px;
    height: 0px;
    border: 2px solid #1A192B;
}

.button-download-mobile {
    visibility: hidden;
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.ham {
    display: none;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform .4s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.hamRotate.activated {
    transform: rotate(45deg)
}

.hamRotate180.activated {
    transform: rotate(180deg)
}

.line {
    fill: none;
    transition: stroke-dasharray .4s, stroke-dashoffset .4s;
    stroke: #fff;
    stroke-width: 3
}

.ham .top {
    stroke-dasharray: 40 160
}

.ham .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform .4s
}

.ham .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform .4s, stroke-dashoffset .4s
}

.ham.activated .top {
    stroke-dashoffset: -64px
}

.ham.activated .middle {
    transform: rotate(90deg)
}

.ham.activated .bottom {
    stroke-dashoffset: -64px
}

@media only screen and (max-width: 990px) {
    header nav {
        width: 85%
    }
}

@media only screen and (max-width: 650px) {
    header nav .ham {
        display: inline;

    }

    .button-download-mobile {
        visibility: visible;
        display: block;
    }

    header nav .nav-links {
        display: none
    }

    .nav-logo {
        visibility: hidden;
        margin-left: -20px;
        display: block;
    }

    .magnet {
        display: none;
    }

    .magnet-1 {
        visibility: visible;
        display: block;
    }

    .nav-collapsed {
        height: 80px;
        background: #111 !important;
        transition: .2s ease
    }

    .overlay-menu {
        display: flex !important
    }
}