footer {
    width: 100%;
    background-color: #111;
    padding: 6em 0;
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
}

footer .footer-container {
    margin: 0 auto;
    width: 75%;
    color: #fff;
    position: relative
}
.footer-app-logo{
    display:flex
}

.footer-lists {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
}
.footerlist,.footerlist-1 {
    list-style: none;
    padding: 0;
}
.footerlist-1{
    display: flex;
}
.footer-list-item {
    cursor: pointer;
    line-height: 30px;
    margin-bottom: 10px;
}
.footer-list-item .footer-app-logo span {
    text-align: center;
    margin-top: 2px;
    margin-left: 7px;
    font-size: 25px;
}
.footer-title{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 50px;

}

.media-links span{
    padding:8px
}
.number{
    margin-left: 10px;
}
.container-1{
    display: flex;
    flex: row;
    
}
.upi-logo {
    width: 128px;
    height: 81px;
    margin-top: 30px;
}


@media only screen and (max-width: 990px) {
    footer .footer-container {
        width: 85%
    }

    footer .footer-container .footer-content {
        flex-direction: column
    }

}

@media only screen and (max-width: 450px) {
    .footer-lists {
        flex-direction: column;
    }
    .footerlist-1{
        flex-direction: column;
    }
  

}