.faq-style-wrapper {
    height: auto;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 6em 0;
    color: white;
    margin-top: 0em;
    overflow-x: hidden !important;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 450px) {
    .faq-style-wrapper{
        margin-left: 40px;
    }
}