.faq-style-wrapper {
    height: auto;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 6em 0;
    color: white;
    margin-top: 0em;
    overflow-x: hidden !important;
    padding-left: 80px;
    padding-right: 80px;
}

@media only screen and (max-width: 450px) {
    .faq-style-wrapper{
        padding-left: 30px;
        padding-right: 30px;
    }
}